body, html {
    height: 100%;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    background-image: url("./9226.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .jumbotron{
      background: black;
      height: 3%;
      font-weight: bolder;
      color: white;
      text-align: center;
      opacity: .75;
      
  }

  #buttonsDiv{
      margin-left: 10%;
      margin-right: 10%;
  }

  #gifs-here{
      margin-top: 3%;
      margin-left: 10%;
      margin-right: 10%;
  }
  

.gif-btn{
    font-family: 'Major Mono Display', monospace;
    background-color: black;
    color: white;
    opacity: .80;
}

#gif-form{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
    float: right;
    font-size: 1.25em;
}

#gif-input{
    border: solid;
}

#add-gif{
    margin-top: 5%;
    background-color: black;
    color: white;
    opacity: .80;
   
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }