body, html {
    height: 100%;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
  }
  
  .bg { 
    /* The image used */
    background-image: url("./9226.jpg");
    /* >Background vector created by Kjpargeter - Freepik.com */
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.gif-btn{
    font-family: 'Major Mono Display', monospace;
    background-color: black;
    color: white;
}

#gif-form{
    margin-top: 10%;
    font-weight: bold;
    float: right;
    font-size: 1.25em;
}

#add-gif{
    margin-top: 5%;
    background-color: black;
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }