body, html {
    height: 100%;
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    background-image: url("./9226.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .bg { 
    /* The image used */
   
    /* >Background vector created by Kjpargeter - Freepik.com */
  
    /* Full height */
   
    /* 100vh */
    /* height: 100vh;
 
    /* Flexbox */
    /* display: flex;
    align-items: center; */ 
   
  
    /* Center and scale the image nicely */
    /* background-position: center; */
    /* background-repeat: no-repeat; */

  }

.gif-btn{
    font-family: 'Major Mono Display', monospace;
    background-color: black;
    color: white;
}

#gif-form{
    margin-top: 10%;
    font-weight: bold;
    float: right;
    font-size: 1.25em;
}

#add-gif{
    margin-top: 5%;
    background-color: black;
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }